body {
    margin-top: 60px;
}

#content1 img{
    width: 20vw;
    margin-top: 2rem;
    color: #fff;
    padding-left: 5rem;
}

#content1 p{
    font-size: 1rem;
    color: #e1dbcf;
    font-family: Timeless;
}


