.container_gambar {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.container_text {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.container_text h5 {
    font-size: 6.5vw;
}

.container1 {
    width: 96.5vw;
    padding-bottom: 2rem;
}


/* container grid text dan foto logo UT */

.col-md-4 img {
    width: 18vw;
    margin-top: 1rem;
    color: #fff;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.col-md-8{
    margin: auto;
    right: 0px;
    padding: 10px
}
.col-md-8 p{
    margin: auto;
    color: #e1dbcf;
    text-align: justify;
}

/* Buat ngilangin logo waktu ukuran screen jd kecil */
@media screen and (max-width: 426px) {
.col-6{
    visibility:hidden;

}

}