/* Body and it's base elements */
body {
    background-color: #1c1c19;
    color: #fafafa;
    overflow-y: scroll; /* Show vertical scrollbar */
}

h1 {
    color: #fafafa;
}

/* Navbar */
.navbar-ut {
    background-color: rgba(50, 57, 13, 0.8);
}

.nav-item {
    margin: 0 5rem 0 5rem;
}

.container-fluid {
    text-align: center;
}

.navbar-dark .navbar-toggler {
    margin-right: 1rem;
    border: none;
}

/* Footer */
.bg-footer {
    background-color: #98ad09;
}

.contact {
    padding: 1rem 0 1rem 0;
}

.copyr {
    font-size: 0.8rem;
    background-color: #1c1c19;
    padding: 0.8rem 0 0.8rem 0;
    position: absolute;
}