/* Body and it's base elements */
body {
    font-family: Timeless;
    background-color: #1c1c19;
    color: #ffffff;
    overflow-x: hidden;
    /* Show vertical scrollbar */
}

h1, h2, h3, h4, h5, h6 {
    font-family: Oswald;
}

/* Navbar */
.navbar-ut {
    background-color: rgba(50, 57, 13, 0.8);
    font-family: var(--bs-font-sans-serif);
}

.nav-item {
    margin: 0 5rem 0 5rem;
}

.container-fluid {
    text-align: center;
}

.navbar-dark .navbar-toggler {
    margin-right: 1rem;
    border: none;
}

/* Back to top button */
#button {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    text-align: center;
    position: fixed;
    bottom: 3vw;
    right: 5vw;
    transition: background-color .3s, opacity .5s, visibility .5s, transform .3s;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    height: 2rem;
}

#button:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 20px rgba(28, 28, 25, 0.3);
}

#button:active {
    background-color: #7a7a7a;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

/* Footer */
.bg-footer {
    background-color: #9bba1d;
    color: #ffffff;
    margin-top: 4rem;
}

.contact {
    padding: 1rem 0 1rem 0;
}

.b-icon {
    height: 1.5rem;
}

.footer {
    font-size: 0.8rem;
    font-family: Oswald;
    text-align: center;
}

/* Contact Us */
.contactus h5 {
    margin: auto;
    font-size: 2rem;
    text-align: center;
}

.b-line {
    display: flex;
    align-self: center;
    height: 0.2rem;
    background-color: #fff;
}

/* Social Media */
.circle {
    margin: auto;
    margin-bottom: 0.3rem;
    width: 3rem;
    height: 3rem;
    border: 1px solid #ffffff;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a9cf29;
}

.gridz {
    width: 7rem;
    transition: background-color .3s, transform .3s;
}

.gridz:active .circle{
    background-color: rgba(122, 122, 122, 0.5);
}

.gridz:hover .circle {
    border: 2px solid rgba(50, 57, 13, 0.5);
    box-shadow: 0 15px 20px rgba(28, 28, 25, 0.3);
}

.gridz:hover p{
    color: rgba(50, 57, 13, 0.8);
}

a {
    color: #fff;
    text-decoration: none;
    
}

@media screen and (max-width: 426px) {
    .contactus h5 {
        font-size: 1.5rem;
    }

    .gridz {
        font-size: 0.7rem;
    }

    #button {
        bottom: 10vw;
        right: 10vw;
    }
}

@media screen and (max-width: 450px) {
    body {
        font-size: 0.8rem !important;
    }
}

@media screen and (max-width: 321px) {
    .gridz {
        width: 5rem;
        font-size: 0.5rem;
    }

    .bg-footer {
        margin-top: 1rem;
    }
}

/* Copyright */
.copyr {
    font-family: Noto Sans;
    background-color: #1c1c19;
    padding: 0.8rem 0 0.8rem 0;
    position: absolute;
}