/* Carousel */
.carousel-caption {
    bottom: 2.5%;
    left: 2.5%;
    padding: 1rem 5rem 0 1rem;
}

.e-carousel {
    aspect-ratio: 16/9;
}

.events h5 {
    width: fit-content;
    font-size: 7vw;
    overflow: hidden;
    white-space: nowrap;
}

a:link {
    text-decoration: none;
    color:inherit;
  }
  
a:visited {
text-decoration: none;
color: inherit;
}

a:hover {
text-decoration: none;
}

a:active {
text-decoration: none;
}

@media screen and (max-width: 426px) {

    .carousel-caption {
        max-width: 30vw;
        padding: 0.5rem 0 0 0.5rem;
    }

    h5 {
        font-size: 1.5rem;
    }
}

/*Timeline*/
    .timeline {
        position: relative;
        padding: 10px;
        padding-top: 5%;
        padding-bottom: 10rem;
        margin-top: 5%;
        overflow: hidden;
        color: #ffffff;
        
    }
    
    .timeline:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -1px;
        border-right: 2px solid #e1dbcf;
        height: 100%;
        display: block;
    }
    
    .timeline-row {
        padding-left: 50%;
        position: relative;
        margin-bottom: 30px;
    }
    
    .timeline-row .timeline-time {
        position: absolute;
        /* right: 100%; */
        left: 40px;
        top: 150%;
        text-align: left;
        margin-right: 20px;
        /* color: #e1dbcf; */
        /* font-size: 1.5rem; */
        /* font-family: "timeless"; */
    }
    
    .timeline-row .timeline-time small {
        display: block;
        font-size: .5rem;
        color: #8796af;
    }
    
    .timeline-row .timeline-content {
        position: relative;
        padding: 10px 5px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    
    .timeline-row .timeline-content:after {
        content: "";
        position: absolute;
        top: 20px;
        height: 3px;
        width: 40px;
    }
    
    /* .timeline-row .timeline-content:before {
        content: "";
        position: absolute;
        top: 20px;
        right: -50px;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        z-index: 100;
        background: #ffffff;
        border: 2px dashed #c4d2e2;
    } */
    
    .timeline-row .timeline-content h4 {
        margin: 0;              
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 2rem;

    }
    
    .timeline-row .timeline-content p {
        margin-bottom: 30px;
        line-height: 150%;
    }
    
    .timeline-row .timeline-content i {
        font-size: 2rem;
        color: #ffffff;
        line-height: 100%;
        padding: 10px;
        border: 2px solid #ffffff;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        margin-bottom: 10px;
        display: inline-block;
    }
    
    .timeline-row .timeline-content .thumbs {
        margin-bottom: 20px;
    }
    
    .timeline-row .timeline-content .thumbs img {
        margin-bottom: 10px;
    }

    .timeline-row .timeline-content{
        background-color: #e1dbcf;
        color: #8c847d;
    }
    
    .timeline-row:nth-child(even) .timeline-content {
        margin-left: 40px;
        text-align: left;
    }
    
    .timeline-row:nth-child(even) .timeline-content:after {
        left: -39px;
        /* border-left: 18px solid #1379bb;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; */

        content: "";
        height: 2px;
        background: #e1dbcf;
        margin: auto 0;
        position: absolute;
        top: 0;
        bottom: 0
    }
    
    .timeline-row:nth-child(even) .timeline-content:before {
        left: -50px;
        right: initial;
    }
    
    .timeline-row:nth-child(odd) {
        padding-left: 0;
        padding-right: 50%;
    }
    
    .timeline-row:nth-child(odd) .timeline-time {
        right: 0%;
        left: 0%;
        text-align: right;
        margin-right: 40px;
        margin-left: 0;
    }
    
    .timeline-row:nth-child(odd) .timeline-content {
        
        /* Fallback Color */
        margin-right: 40px;
        margin-left: 0;
        text-align: right;
    }
    
    .timeline-row:nth-child(odd) .timeline-content:after {
        right: -39px;
        /* border-left: 18px solid #1379bb;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; */

        content: "";
        height: 2px;
        background: #e1dbcf;
        margin: auto 0;
        position: absolute;
        top: 0;
        bottom: 0
    }

    #main-timeline{
        display: block;
    }

    #main-timeline-mobile{
        /* visibility: collapse;
        height: 0%;
        overflow: hidden; */
        display: none;
    }
    /* @media (max-width: 1400px) {
        .timeline-row .timeline-time{
            font-size: 1.25rem;
        }
    } */

    @media (max-width: 992px) {
        .timeline-row .timeline-time{
            font-size: 1rem;
        }
    }
    
    @media (max-width: 767px) {
        .timeline {
            padding: 15px 10px;
        }
        .timeline:after {
            left: 28px;
        }
        .timeline .timeline-row {
            padding-left: 0;
            margin-bottom: 16px;
        }
        .timeline .timeline-row .timeline-time {
            visibility: hidden;
            position: relative;
            left: 0;
            right: auto;
            top: 0;
            text-align: left;
            margin: 0 0 6px 56px;
        }
        .timeline .timeline-row .timeline-time strong {
            display: inline-block;
            margin-right: 10px;
        }
        .timeline .timeline-row .timeline-icon {
            top: 52px;
            left: -2px;
            margin-left: 0;
        }
        .timeline .timeline-row .timeline-content {
            padding: 15px;
            margin-left: 56px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        .timeline .timeline-row .timeline-content h4{
            font-size: 1.2rem;
        }

        .timeline .timeline-row .timeline-content:after {
            right: auto;
            left: -38px;
            top: 0;
        }
        .timeline .timeline-row:nth-child(odd) {
            padding-right: 0;
        }
        .timeline .timeline-row:nth-child(odd) .timeline-time {
            position: relative;
            right: auto;
            left: auto;
            top: 0;
            text-align: left;
            margin: 0 0 6px 56px;
        }
        .timeline .timeline-row:nth-child(odd) .timeline-content {
            margin-right: 0;
            margin-left: 55px;
        }
        .timeline .timeline-row:nth-child(odd) .timeline-content:after {
            right: auto;
            left: -37px;
            border-right: inherit;
            border-left: inherit;
        }
        .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
            left: 20px;
        }
        .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
            left: 0;
        }

        #main-timeline{
            display: none;
        }
    
        #main-timeline-mobile{
            display: block;
        }

    }

/*Content Carousel*/

.card{
    background-color: inherit;
}

/* .main-content .carousel-inner{
    max-height: 378px;
} */

.main-content {
    position: relative
}

.main-content .carousel-slide-css{
    border: medium solid #e1dbcf;
}

.main-content .container{
    margin-bottom: 20px;
    width: 50%;
}

.main-content .row{
    padding-top: 20%;
}

.main-content .row .container{
    float: left;
    display: flex;
    align-items: center;
}

.main-content .row .container:nth-child(1){
    width: 50%;
    position: relative;
}

/* .main-content .row .container:nth-child(2){
    
} */

.main-content .row:nth-child(even) .container:nth-child(1){
    position: relative;
    padding-left: 0.75rem;
    left: 50%;
}

.main-content .row:nth-child(even) .container:nth-child(2){
    position: relative;
    left: -50%;
    padding-right: 0.75rem;
}

/* .main-content .row:nth-child(odd) .container:nth-child(1) {
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 50%;
    position: relative;
}

.main-content .row:nth-child(even) .container:nth-child(2) {
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 50%;
    position: relative;
} */


.main-content .container .container-fluid{
    border: medium solid #e1dbcf;
    display: block;
    align-items: center;
    height: fit-content;
}

.main-content .text-container{
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.main-content .container .container-fluid .label{
    position: relative;
    top: -2.5rem;
    height: auto;
    width: fit-content;
    margin: auto;
    background-color: #1c1c19;
    border: 1rem solid #1c1c19;
    text-align: center;
}

.main-content .container .container-fluid .text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: relative;
    top: -2.5rem;
    font-size: 1rem;
    /* font-family: "Timeless Regular"; */
    /* color: #e1dbcf; */
    text-align: justify;
    text-justify: inter-word;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.main-content .container .container-fluid .text p{
    margin-bottom: 0;
}

.label{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #e1dbcf;
}

@media (max-width: 1024px) {

    /* .main-content .container .container-fluid .text{
        font-size: 1.25rem;
    } */
}

@media (max-width: 768px) {
    .label{
        font-size: 1.25rem;
    }

    .main-content .container .container-fluid .text{
        font-size: 1rem;
    }

    .main-content .row{
        padding-top:30%;
    }
}

@media (max-width: 767px) {

    .label{
        font-size: 1.5rem;
    }

    .main-content .container .container-fluid .text{
        font-size: 1rem;
    }

    .main-content .container{
        width: 100%;
    }

    .main-content .carousel-slide-css{
        width: 100%;
    }

    .main-content .row .container {
        width: 100% !important;
    }

    .main-content .row:nth-child(odd) .container:nth-child(1){
        width: 100%;
        margin-bottom: 2.5rem;
    }

    .main-content .row:nth-child(even) .container:nth-child(1){
        position: none;
        left: initial;
        width: 100%;
        margin-bottom: 2.5rem;
    }
    
    .main-content .row:nth-child(even) .container:nth-child(2){
        position: relative;
        left: initial;
        width: 100%;
    }
}

/* @media (max-width:767px){
    .main-content .col-sm-6{
        width: 100%;
    }
} */
/* 
.main-timeline .timeline:nth-child(2n) .timeline-content { */
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    color: #000000;
    /* display: none; */
}