/* Carousel */
.home {
    width: 100%;
    right: auto;
    left: auto;
}

.h-carousel {
    aspect-ratio: 16/9;
}

.carousel-caption {
    bottom: 2.5%;
    left: 2.5%;
    padding: 1rem 5rem 0 1rem;
}

.home h5 {
    width: fit-content;
    font-size: 7vw;
}

/* Container 1: title */
.title {
    display: flex;
    text-align: justify;
    text-align-last: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* Logo UT */
.logo {
    width: 15rem;
    color: #fff;
}

/* Galery */
.h-button {
    display: flex;
    margin-bottom: 2rem;
}

.ut-button {
    background-color: transparent;
    border-radius: 0;
    border: none;
    width: 15rem;
}

.ut-button:focus {
    background-color: transparent;
    box-shadow: none;
}

.ut-button:focus:hover {
    background-color: #5C636A;
}

.galery {
    width: 100%;
    transition: transform 0.3s, display 0.3s;
}

.galery:hover {
    transform: scale(1.1);
}

.gal-col {
    width: 25%;
    margin: 0;
    position: relative;
}

.gal-container {
    position: relative;
    height: 12vw;
}

#event {
    display: none;
}

#event-mobile {
    display: none;
}

/* Responsive */
@media screen and (max-width: 426px) {
    .logo {
        width: 7rem;
    }

    .ut-button {
        width: 7rem;
    }
}
