/* Carousel */
.carousel-caption {
    max-width: 25vw;
    bottom: 0;
    left: 0;
    padding: 0 0 2vw 4vw;
}

h5 {
    width: fit-content;
    font-family: Oswald;
    font-size: 7vw;
}

/* Container 1: title */
.title {
    display: flex;
    justify-content: center;
}

/* Logo UT */
.logo {
    width: 20vw;
    margin-top: 2rem;
    color: #fff;
}
