/* Carousel */
.home {
    width: 100%;
    right: auto;
    left: auto;
}

.h-carousel {
    aspect-ratio: 16/9;
}

h5 {
    width: fit-content;
    font-size: 7vw;
}

/* Container 1: title */
.title {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Logo UT */
.logo {
    width: 10rem;
    margin-top: 2rem;
    color: #fff;
}

@media screen and (max-width: 426px) {
    .logo {
        width: 7rem;
    }
}
