{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/about.css') }}" type="text/css">
    <title>Unit Tenis</title>
{% endblock %}

{% block body %}
    
        <div id="content1">
          <img src="{{url_for('static', filename='/images/Logo-UT.png')}}">
          <p> Unit Tenis ITB adalah unit yang didirikan pada tahun 1996 dan meanungi kegiatan-kegiatan olahraga tenis bagi mahasiswa ITB. Blablablabla Phasellus malesuada ante purus, quis suscipit mi imperdiet a. Phasellus viverra sit amet libero id scelerisque. Quisque eget hendrerit nulla. Vestibulum molestie diam dui, a imperdiet dolor egestas nec. Proin ullamcorper magna mauris, ac maximus lorem blandit eget. Integer efficitur urna a nisi facilisis, imperdiet hendrerit felis malesuada. </p>
        </div>
{% endblock %}

