{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/about.css') }}" type="text/css">
<title>Unit Tenis</title>
{% endblock %} {% block body %}

<div class="container container_gambar">
    <img src="{{url_for('static', filename='/images/image-atas-about-us-web-ut.png')}}" class="d-block w-100 background">
    <div class="container_text">
        <h5>About Us.</h5>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-6 col-md-4">
        <img src="{{url_for('static', filename='/images/logo-ut-revisi.png')}}">
      </div>
      <div class="col-md-8">
        <p>
            Unit Tenis ITB adalah unit olahraga tenis lapangan yang berada di bawah naungan Institut Teknologi Bandung. UT ITB lahir pada tanggal 19 Januari 1996, menjadi wadah untuk menempa kreativitas dan sportivitas dalam olahraga yang diminati bagi seluruh anggotanya.<br><br>        Selain itu, Unit Tenis ITB juga mendorong anggota-anggotanya dalam berbagai kegiatan organisasi dan membantu mengembangkan kemampuan anggotanya dalam olahraga tenis lapangan melalui latihan dan fasilitas yang disediakan.
        </p>
    </div>
      </div>
    </div>
{% endblock %}