{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}" type="text/css">
  <title>Unit Tenis</title>
{% endblock %}

{% block body %}
<!-- CAROUSEL  -->
  <div id="welcome" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#welcome" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="welcome" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{url_for('static', filename='/images/home/carousel/maut_semua.png')}}" class="d-block w-100 h-carousel" alt="Stock 1">
      </div>
      <div class="carousel-item">
        <img src="{{url_for('static', filename='/images/home/carousel/tenis.png')}}" class="d-block w-100 h-carousel" alt="Stock 2">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#welcome" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#welcome" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div class="carousel-caption home">
      <div class="container">
        <h5>Welcome.</h5>
      </div>
    </div>
  </div>

  <!-- Logo UT and caption -->
  <div class="container justify-content-center title" data-aos="fade-up">
      <img src="{{url_for('static', filename='/images/Logo-UT.png')}}" class="logo">
  </div>
  <div class="container-sm justify-content-center title" data-aos="fade-up" data-aos-delay="100">
    <p>
      Unit Tenis ITB adalah unit olahraga tenis lapangan yang berada di bawah naungan Institut Teknologi Bandung. 
      UT ITB lahir pada tanggal 19 Januari 1996, menjadi wadah untuk menempa kreativitas dan sportivitas dalam olahraga yang diminati bagi seluruh anggotanya. 
      Selain itu, Unit Tenis ITB juga mendorong anggota-anggotanya dalam berbagai kegiatan organisasi dan membantu mengembangkan kemampuan anggotanya dalam olahraga tenis lapangan melalui latihan dan fasilitas yang disediakan.
    </p>
  </div>

  <!-- Galery Button -->
  <div class="container justify-content-center h-button" data-aos="fade-up">
    <div class="btn-group" role="group">
      <button type="button" onclick="showTraining()" class="btn btn-secondary ut-button" style="border-right: 1px solid;">TRAINING</button>
      <button type="button" onclick="showEvent()" class="btn btn-secondary ut-button" style="border-left: 1px solid;">EVENT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </div>
  </div>

  <!-- Galery -->  
  <div class="container justify-content-center gal-container d-none d-md-block" data-aos="fade-up">
    <!-- Training -->
    <div class="row justify-content-center" id="training">
      <div class="col gal-col animate__animated animate__fadeIn"> 
        <img src="{{url_for('static', filename='/images/home/galery_training/cc.jpg')}}" class="galery">
      </div>

      <div class="col gal-col animate__animated animate__fadeIn" style="animation-delay: 0.25s">
        <img src="{{url_for('static', filename='/images/home/galery_training/latrut1.jpg')}}" class="galery">
      </div>

      <div class="col gal-col animate__animated animate__fadeIn" style="animation-delay: 0.5s">  
        <img src="{{url_for('static', filename='/images/home/galery_training/latrut2.jpg')}}" class="galery">
      </div>

      <div class="col gal-col animate__animated animate__fadeIn" style="animation-delay: 0.75s">  
        <img src="{{url_for('static', filename='/images/home/galery_training/latrut3.jpg')}}" class="galery">
      </div>
    </div>

    <!-- Event -->
    <div class="row justify-content-center" id="event">
      <div class="col gal-col animate__animated animate__fadeIn"> 
        <img src="{{url_for('static', filename='/images/home/galery_event/caitt.jpg')}}" class="galery">
      </div>

      <div class="col gal-col animate__animated animate__fadeIn" style="animation-delay: 0.25s">
        <img src="{{url_for('static', filename='/images/home/galery_event/ht.jpg')}}" class="galery">
      </div>

      <div class="col gal-col animate__animated animate__fadeIn" style="animation-delay: 0.5s">  
        <img src="{{url_for('static', filename='/images/home/galery_event/ht1.jpg')}}" class="galery">
      </div>

      <div class="col gal-col animate__animated animate__fadeIn" style="animation-delay: 0.75s">  
        <img src="{{url_for('static', filename='/images/home/galery_event/ppab.jpg')}}" class="galery">
      </div>
    </div>
  </div>

  <!-- Galery mobile -->
  

  <!-- Galery Button Javascript -->
  <script>
    function showTraining() {
      document.getElementById("training").style.display = "flex";
      document.getElementById("event").style.display = "none";
    }
    function showEvent() {
      document.getElementById("training").style.display = "none";
      document.getElementById("event").style.display = "flex";
    }
  </script>

  <!-- Galery Mobile Javascript -->

{% endblock %}